name: Check

on: [ push, pull_request ]

jobs:
  Linker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: markdownlint-cli
        uses: nosborn/github-action-markdown-cli@v3.1.0
        with:
          files: .
          config_file: .markdownlinter.json

  Links:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: gaurav-nelson/github-action-markdown-link-check@1.0.14
        with:
          use-verbose-mode: 'yes'
          config-file: '.markdownlinks.json'
          base-branch: 'main'

